*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    text-decoration: none;
    list-style: none;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
}

/*variaveis*/

:root{
    --main-color:#ff2c1f;
    --text-color:#020307;
    --bg-color: #fff;
    --hover-color:#e60000;
}
body{
    background-color: var(--bg-color);
    color: var(--text-color);  
}

/*header*/

header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 100px;
    transition: 0.5s;
    background: #fff;
}
.logo{
    font-size: 30px;
    font-weight: 600;
    align-items: center;
    color:var(--text-color);
    display: flex;
    column-gap: 6px;
}
.btn{
    padding: 1rem 2rem;
    background-color: var(--main-color);
    border-radius: 1rem;
    font-weight: 400;
    color: var(--bg-color);
    width: 50vh;
    margin-left: 30px;
}
.btn:hover{
    background: var(--hover-color);
}
.evento {
    text-align: center; 
}

.evento img {
    margin-top: 5rem;
    width: 55rem;
    height: 450px;
    border-radius: 20px;
    display: inline-block; 
}
.texto{
    color: #797979;
    text-align:left;
    margin-left: 40px;
    margin-top: 30px;
    max-width: 40%; 

    overflow: hidden;
}

.rodape {
    background-color:#555555;
    color: white;
    padding: 20px 0;
    text-align: center;
    position:static;

}

.rodape-div {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.coluna1, .coluna2, .coluna3, .coluna4 {
    flex: 1;
    padding: 0 10px;
    max-width: 200px;
    text-align: left;
}

.coluna1 span, .coluna2 span, .coluna3 span, .coluna4 span {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
}



.rodape a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

.rodape a:hover {
    color: #db3434;
    
}